<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% if current_user.present?%>
  <p style="color: blue"><%= current_user.id %></p>
  <p style="color: blue"><%= current_user.email %></p>
  <p style="color: blue"><%= current_user.preference[:post_order] %></p>
  <% @default_selected = current_user.preference[:post_order]%>
<% end %>


<%= form_with(url: posts_path, method: "get") do %>
  <% select_tag :preference, options_for_select([["Newest", "newest"], ["Oldest", "oldest"]], @default_selected),
  onchange: 'this.form.submit();' %>
<% end %>
<br>

<%= link_to "New post", new_post_path %>

<%#= :preference %>

<h1>Posts</h1>

<%= render 'shared/sessions' %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>


